<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG_Package.TC_Execution_WithSame_PriorityOrder"/>
      <class name="testNG_Package.TestPractice"/>
      <class name="testNG_Package.Priority_Parameter"/>
      <class name="testNG_Package.Dataprovider_Facebook_Login"/>
      <class name="testNG_Package.InvocationCount_Parameter"/>
      <class name="testNG_Package.AssertConcept"/>
      <class name="testNG_Package.DataProvider_Annotation"/>
      <class name="testNG_Package.TestCase1"/>
      <class name="testNG_Package.Google"/>
      <class name="testNG_Package.DefaultValue_Enable_InvocationCount_Priority_Parameters"/>
      <class name="testNG_Package.Pass_2Paramters_Sametest"/>
      <class name="testNG_Package.Amazon_SecondItem_WishList"/>
      <class name="testNG_Package.Disable_test_using_enabled_parameter"/>
      <class name="testNG_Package.Timeout_Parameter"/>
      <class name="testNG_Package.Default_Test_Annotation"/>
      <class name="testNG_Package.AssertClass"/>
      <class name="testNG_Package.Alphabetic_Oder_Exceution_Test_Annotation"/>
      <class name="testNG_Package.Testcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
